

@media only screen   
and (min-width: 1921px)   
and (max-width: 2048px)  
 { 

    .mpopup-content
    {
        width: 450px !important;
        height: 700px !important;
    }
	#home {
    vertical-align: middle;
    width: 2048px;
}
	#loader { margin-left: 504px;
    margin-top: 269px;} 
	#videolink3 {      z-index: 100;
    margin-left: 1110px;
    height: 79px;
    width: 103px;
    margin-top: 300px;
    position: absolute;}
	#mpopupBox1 { margin-left: 900px;
 
    margin-top: -27px;}
	#videolink4 { z-index: 100;
    margin-left: 1110px;
    height: 100px;
    width: 100px;
    margin-top: 180px;
    position: absolute;}
	#videolink46 {    z-index: 100;
    margin-left: 1105px;
    height: 94px;
    width: 115px;
    margin-top: 372px;
    position: absolute;}
	#mpopupBox2 { margin-left: 900px;
 
    margin-top: -27px;}
	#mpopupBox6 { margin-left: 300px;
 }
	#videolink2 {    margin-top: 690px;
    margin-left: 820px;
    width: 172px;
    height: 270px;
    z-index: 10;
    position: absolute;}
	#mpopupBox {  margin-left: 700px;
    margin-top: -27px;}
	#videolink6 {    z-index: 100;
    height: 90px;
    width: 130px;
    margin-top: 810px;
    margin-left: 1070px;
    position: absolute;}
	#mpopupBox4 {  margin-left: 812px;
    margin-top: -27px;}
	#videolink5 {    margin-left: 1230px;
    margin-top: 962px;
    width: 100px;
    height: 50px;
    z-index: 10;
    position: absolute;}
	#mpopupBox3 {  margin-left: 510px;
    margin-top: -27px;}
	#videolink7 {  z-index: 100;
    margin-left: 1040px;
    height: 64px;
    width: 95px;
    margin-top: 929px;
    position: absolute;}
	#mpopupBox5 {  margin-left: 310px;
    margin-top: -27px;}
	#videolink8 {     margin-left: 138px;
    margin-top: 576px;
    height: 200px;
    width: 700px;   }
	#videolink9 {        margin-left: 569px;
    margin-top: 680px;
    height: 305px;
    width: 212px;}
	#mpopupBox7 {  margin-left: 510px;
    margin-top: -27px;}
	#videolink10 {      margin-left: 824px;
    margin-top: 621px;
    width: 259px;
    height: 300px;}
	#mpopupBox8 {  margin-left: 310px;
    margin-top: -27px;}
	#videolink11 {     margin-left: 1114px;
    margin-top: 470px;
    width: 595px;
    height: 230px;}
	#mpopupBox9 {  margin-left: 302px;
    margin-top: -27px;}
	
	#videolink12 { margin-left: 1712px;
    margin-top: 265px;
    height: 336px;
    width: 137px;}
	#mpopupBox10 {      margin-left: 610px;
    margin-top: -27px;}
	#videolink13 {    margin-left: 1180px;
    margin-top: 279px;
    width: 194px;
    height: 204px;
}
	#mpopupBox11 {  
    margin-top: -27px;    margin-left: 350px;}
	#videolink14 {     margin-left: 893px;
    margin-top: 810px;
    width: 158px;
    height: 194px;}
	#mpopupBox12 {  
    margin-top: -27px;    margin-left: 700px;}
	#videolink15 {     margin-left: 1084px;
    margin-top: 435px;
    width: 114px;
    height: 306px;
}
	#mpopupBox13 {  
        margin-top: -27px;
    margin-left: 810px;}
	#videolink16 {     
	margin-left: 490px;
    margin-top: 255px;
    width: 88px;
    height: 74px;}
	#mpopupBox14 {  
        margin-top: -27px;
    margin-left: 255px;}
	#videolink17 {    margin-top: 518px;
    width: 608px;
    height: 204px;
    margin-left: 168px;}
	#mpopupBox15 {  
    margin-top: -27px;margin-left: 505px;}
	#videolink18 { margin-top: 756px;
    width: 423px;
    height: 154px;
    margin-left: 90px;}
	#mpopupBox16 {  
    margin-top: -27px;margin-left: 351px;}
	#videolink19 { margin-top: 690px;
    margin-left: 697px;
    width: 599px;
    height: 215px;}
	#mpopupBox17 {  
        margin-top: -27px;
    margin-left: 854px;}
	#videolink20 {     margin-top: 650px;
    width: 387px;
    height: 267px;
    margin-left: 1510px;}
	#mpopupBox18 {  
    margin-top: -27px;margin-left: 550px;}
	#videolink21 {     margin-top: 840px;
    width: 341px;
    height: 110px;
    margin-left: 1067px;}
	#mpopupBox19 {  
        margin-top: -27px;
    margin-left: 350px;}
	#videolink22 {      margin-top: 440px;
    width: 293px;
    height: 105px;
    margin-left: 921px;}
	#mpopupBox20 {  
    margin-top: -27px;margin-left: 150px;}
	#videolink23 {      width: 296px;
    margin-top: 790px;
    margin-left: 1285px;
    transform: rotate(10deg);}
	#mpopupBox21 {  
        margin-top: -27px;
    margin-left: 800px;}
	#videolink24 {    margin-top: 390px;
    width: 200px;
    height: 214px;
    margin-left: 61px;}
	#mpopupBox22 {  
    margin-top: -27px;
    margin-left: 290px;}
	#videolink25 {    margin-top: 728px;
    width: 108px;
    height: 90px;
    margin-left: 192px;}
	#mpopupBox23 {  
    margin-top: -27px;margin-left: 300px;}
	#videolink26 { margin-top: 643px;
    width: 151px;
    height: 50px;
    margin-left: 77px;}
	#mpopupBox24 {  
    margin-top: -27px;margin-left: 300px;}
	#videolink27 {      margin-top: 422px;
    width: 85px;
    height: 13px;
    margin-left: 675px;}
	#mpopupBox25 {  
    margin-top: -27px;
    margin-left: 800px;}
	#videolink28 {          
        margin-top: 556px;
    width: 412px;
    height: 60px;
    margin-left: 930px;
}
	#mpopupBox26 {  
    margin-top: -27px;margin-left: 887px;}
	#videolink29 {  margin-top: 430px;
    width: 387px;
    height: 207px;
    margin-left: 950px;}
	#mpopupBox27 {  
    margin-top: -27px;margin-left: 343px;}
	#videolink30 {      
	      margin-top: 674px;
    width: 185px;
    height: 36px;
    margin-left: 72px;}
	#mpopupBox28 {  
        margin-top: -27px;
    margin-left: 260px;}
	#videolink31 {       margin-top: 713px;
    width: 180px;
    height: 39px;
    margin-left: 98px;}
	#mpopupBox29 {  
    margin-top: -27px;
    margin-left: 290px;}
	#videolink32 { margin-top: 260px;
    width: 227px;
    height: 202px;
    margin-left: 708px;}
	#mpopupBox30 {  
    margin-top: -27px;
        margin-left: 600px;}
	#videolink33 {     margin-top: 556px;
    width: 67px;
    height: 62px;
    margin-left: 250px;}
	#mpopupBox31 {  
    margin-top: -27px;margin-left: 280px;

        }	
	#videolink34 {            
	margin-top: 724px;
    width: 1039px;
    height: 210px;
    margin-left: 792px;
    transform: rotate(-25deg);}
	#mpopupBox32 {  
    margin-top: -27px;    margin-left: 300px;
        }
	#videolink35 {            
	     margin-top: 446px;
    width: 251px;
    height: 306px;
    margin-left: 974px;
	}
	#mpopupBox33 {  
    margin-top: -27px;
    margin-left: 880px;
        }	
	#videolink36 {            
	margin-top: 565px;
    width: 1004px;
    height: 151px;
    margin-left: 661px;
    transform: rotate(-27deg);
	}
	#mpopupBox34 {  
    margin-top: -27px;
    margin-left: 279px;
        }		
	#videolink37 {            
	    width: 41px;
    height: 111px;
    margin-left: 310px;
    margin-top: 579px;
	}
	#mpopupBox35 {  
    margin-top: -27px;
    margin-left: 292px;
        }
	#videolink38 {            
	margin-top: 388px;
    width: 364px;
    height: 111px;
    margin-left: 1658px;
    transform: rotate(-29deg);
	}
	#mpopupBox36 {  
    margin-top: -27px;
    margin-left: 500px;
        }
	#videolink39 {            
	    margin-top: 754px;
    width: 993px;
    height: 35px;
    margin-left: 692px;
    transform: rotate(-28deg);
	}
	#mpopupBox37 {  
    margin-top: -27px;
    margin-left: 789px;
        }
	#videolink40 {            
	margin-top: 625px;
    width: 500px;
    height: 111px;
    margin-left: 53px;
    transform: rotate(-21deg);
	}
	#videolink41 {            
	    margin-top: 457px;
    width: 387px;
    height: 111px;
    margin-left: 844px;
    transform: rotate(-25deg);
}
	#mpopupBox38 {  
    margin-top: -27px;
    margin-left: 363px;
        }
	#videolink42 {            
	    margin-top: 591px;
    width: 175px;
    height: 34px;
    margin-left: 585px;
    transform: rotate(-21deg);
	}
	#mpopupBox39 {  
    margin-top: -27px;
    margin-left: 263px;
        }	
	#videolink43 {            
	    margin-top: 618px;
    width: 247px;
    height: 66px;
    margin-left: 605px;
    transform: rotate(-27deg);
	}
	#mpopupBox40 {  
    margin-top: -27px;
    margin-left: 263px;
        }	
	#videolink44 {            
	    margin-top: 418px;
		width: 193px;
		height: 34px;
		margin-left: 383px;
		transform: rotate(-27deg);
	}
	#mpopupBox41 {  
    margin-top: -27px;
    margin-left: 263px;
        }	
	#videolink45 {            
	margin-top: 625px;
    width: 95px;
    height: 200px;
    margin-left: 1004px;
	}	
	#videolink49 {            
	    margin-top: 628px;
    width: 85px;
    height: 200px;
    margin-left: 1198px;
	}	
	#videolink47 {      
	    z-index: 100;
    margin-top: 731px;
    width: 64px;
    height: 78px;
    margin-left: 366px;
    position: absolute;
}
	#videolink48 { z-index: 100;
    margin-top: 504px;
    width: 44px;
    height: 120px;
    margin-left: 290px;
    position: absolute;
}
	#video-back{  
    margin-bottom: -72px;    }
 }